// app global css in SCSS form
/* mulish-regular - latin */
@font-face {
  font-family: 'mulish';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/mulish-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/mulish-v12-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/mulish-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/mulish-v12-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/mulish-v12-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/mulish-v12-latin-regular.svg#Mulish') format('svg'); /* Legacy iOS */
  font-display: swap;
}

// declare a class which applies it
.text-mulish {
  font-family: 'mulish', sans-serif;
}
